# Part 1A

# Contents
### 1. Importing libraries
### 2. Importing merged data set
### 3. Consider security implications with new data
### 4. Create 'region' column based on 'State' column; determine if difference in spending
### 5. Exclude customers with less than 5 orders

## 1. Importing libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import gc

## 2. Importing merged data set

In [2]:
path = r'C:\Documents\Career Foundry\Python\Instacart Basket Analysis'

In [3]:
# Import data

dfm = pd.read_pickle(os.path.join(path, '02 Data', 'Prepped Data', 'dfm.pkl'))

## 3. Consider security implications with new data

In [5]:
# Display all columns

pd.options.display.max_columns = None

In [6]:
# Display all rows

pd.options.display.max_rows = None

In [7]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag,med_days_since,Order freq,First Name,Surname,Gender,State,Age,date_joined,dependants,fam_status,income,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

### It is problematic to use data which include the customer's full name, age, dependants, family status and income.

## 4. Create 'region' column based on 'State' column; determine if difference in spending

In [8]:
# drop _merge column 

dfm = dfm.iloc[: , :-1]

In [9]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag,med_days_since,Order freq,First Name,Surname,Gender,State,Age,date_joined,dependants,fam_status,income
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [22]:
# create list 'result2' with region corresponding to 'State' for full dataset 'dfm'

result2 = []

for value in dfm["State"]:
  if (value == 'Alabama') | (value == 'Delaware') | (value == 'Louisiana') | (value == 'Arkansas') | (value == 'Louisiana')  | (value == 'District of Columbia') | (value == 'Delaware')  | (value == 'Florida') | (value == 'Georgia') | (value == 'Kentucky') | (value == 'Louisiana') | (value == 'Maryland')  | (value == 'Mississippi') | (value == 'North Carolina') | (value == 'Oklahoma') | (value == 'South Carolina')  | (value == 'Tennessee') | (value == 'Texas') | (value == 'Virginia') | (value == 'West Virginia'):
    result2.append("South")
  elif (value == 'Iowa') | (value == 'Illinois') | (value == 'Indiana') |  (value == 'Kansas') | (value == 'Michigan') | (value == 'Minnesota') | (value == 'Missouri') | (value == 'North Dakota') | (value == 'Nebraska') | (value == 'Ohio') | (value == 'South Dakota') | (value == 'Wisconsin'):
    result2.append("Midwest")
  elif (value == 'Connecticut') | (value == 'Massachusetts') | (value == 'Maine') |  (value == 'New Hampshire') | (value == 'New Jersey') | (value == 'New York') | (value == 'Pennsylvania') | (value == 'Rhode Island') | (value == 'Vermont'):
    result2.append("Northeast")
  elif (value == 'Alaska') | (value == 'Arizona') | (value == 'California') |  (value == 'Colorado') | (value == 'Hawaii') | (value == 'Idaho') | (value == 'Montana') | (value == 'New Mexico') | (value == 'Nevada') | (value == 'Oregon') | (value == 'Utah') | (value == 'Washington') | (value == 'Wyoming'):
    result2.append("West")
  else:
    result2.append("Where do I live?")

In [24]:
# create column 'region' in full dataset, dfm

dfm['region'] = result2

In [25]:
#Save dataset with 'region' column added

dfm.to_pickle(os.path.join(path, '02 Data', 'Prepped Data', 'dfmregionadded.pkl'))

In [26]:
dfm.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag,med_days_since,Order freq,First Name,Surname,Gender,State,Age,date_joined,dependants,fam_status,income,region
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South

In [27]:
dfm['region'].value_counts(dropna = False)

South        10791230
West          8292437
Midwest       7596913
Northeast     5722427
Name: region, dtype: int64

In [ ]:
# create df to compare 'region' & 'spending_flag' to if there is a correlation

crosstab = pd.crosstab(dfm['region'], dfm['spending_flag'], dropna = False)

In [ ]:
# export to Excel

crosstab.to_clipboard()

In [4]:
# import from Excel with comparison

dfr = pd.read_csv(os.path.join(path, '02 Data', 'Prepped Data', 'crosstab_region_spending.csv'), index_col = False)

In [5]:
dfr

,region,High spender,Low spender,Total Spending,High percentage,Low percentage
0,Midwest,155949,7440964,7596913,2.1%,97.9%
1,Northeast,108214,5614213,5722427,1.9%,98.1%
2,South,209626,10581604,10791230,1.9%,98.1%
3,West,160312,8132125,8292437,1.9%,98.1%

### There is virtually no difference in spending in different regions - only .2%

## 5. Exclude customers with less than 5 orders

In [28]:
#Set exclusion flag for users who have made less than 5 orders

dfm.loc[dfm['max_order'] < 5, 'exclusion_flag'] = 'low_activity'

In [29]:
dfm.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag,med_days_since,Order freq,First Name,Surname,Gender,State,Age,date_joined,dependants,fam_status,income,region,exclusion_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.416667,Regular customer,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest,NaN
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22,Regular customer,3.980556,Low spender,10.416667,Regular customer,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest,NaN
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,22,Regular customer,3.980556,Low spender,10.416667,Regular customer,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest,NaN
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.416667,Regular customer,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest,NaN
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.416667,Regular customer,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,Midwest,NaN
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,8.372059,Low spender,6.779412,Frequent customer,Jane,Salazar,Female,Louisiana,62,2/3/2017,1,married,151988,South,NaN
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,8.372059,Low spender,6.779412,Frequent customer,Jane,Salazar,Female,Louisiana,62,2/3/2017,1,married,151988,South,NaN
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,9,New customer,8.372059,Low spender,6.779412,Frequent customer,Jane,Salazar,Female,Louisiana,62,2/3/2017,1,married,151988,South,NaN
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular customer,7.012683,Low spender,9.809756,Frequent customer,Edward,Carr,Male,Montana,71,6/18/2019,0,divorced/widowed,124643,West,NaN
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular customer,8.137793,Low spender,5.809364,Frequent customer,Sara,Mckenzie,Female,Oklahoma,38,1/22/2019,1,married,52311,South,NaN
20,2231262,31,17,3,11,8.0,196,14,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,20,Regular customer,8.137793,Low spender,5.809364,Frequent customer,Sara,Mckenzie,Female,Oklahoma,38,1/22/2019,1,married,52311,South,NaN
21,2580647,43,6,4,16,4.0,196,9,0,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,11,Regular customer,7.444898,Low spender,10.190476,Regular customer,Jacqueline,Molina,Female,Tennessee,41,11/19/2018,1,married,123723,South,NaN
22,2187180,43,9,4,12,3.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,11,Regular customer,7.444898,Low spender,10.190476,Regular customer,Jacqueline,Molina,Female,Tennessee,41,11/19/2018,1,married,123723,South,NaN
23,2497897,52,1,1,9,0.0,196,4,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
24,1318871,52,2,1,10,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
25,1261384,52,3,1,10,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
26,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
27,2428073,52,7,2,7,8.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
28,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
29,1520353,52,10,2,10,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
30,2542086,52,11,2,9,7.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
31,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
32,1268191,52,15,2,11,8.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
33,1122089,52,17,2,10,6.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
34,1498922,52,18,2,10,14.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
35,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
36,2695875,52,21,5,10,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low spender,8.826347,Frequent customer,Dorothy,Oneal,Female,Alabama,64,1/30/2018,2,married,40974,South,NaN
37,3205960,67,1,3,11,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
38,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
39,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
40,2037087,67,4,2,9,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
41,2474111,67,5,3,14,8.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
42,1568481,67,6,3,12,7.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
43,2048527,67,8,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
44,2389031,67,9,2,14,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
45,2378562,67,10,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
46,1515698,67,11,1,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
47,1928050,67,12,2,12,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
48,1949274,67,13,1,10,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
49,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
50,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
51,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
52,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
53,1558976,67,21,1,9,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
54,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
55,2308399,67,23,1,14,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.333333,Frequent customer,Anne,Dorsey,Female,Iowa,66,6/5/2017,1,married,115696,Midwest,NaN
56,2759128,81,3,1,9,14.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,7,New customer,8.165384,Low spender,23.076923,Non-frequent customer,nan,Sanchez,Male,Ohio,49,11/4/2017,1,married,123542,Midwest,NaN
57,1812985,81,5,2,20,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,7,New customer,8.165384,Low spender,23.076923,Non-frequent customer,nan,Sanchez,Male,Ohio,49,11/4/2017,1,married,123542,Midwest,NaN
58,1889835,82,1,3,15,0.0,196,6,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
59,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
60,2728456,82,4,0,11,16.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
61,2653743,82,6,4,9,13.0,196,5,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
62,1358880,82,9,1,10,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
63,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
64,3034663,82,15,2,11,12.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
65,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
66,3144004,82,19,2,15,8.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,19,Regular customer,6.441221,Low spender,11.351145,Regular customer,Edward,Miles,Male,Oklahoma,60,5/16/2017,3,married,45982,South,NaN
67,2126069,98,3,0,9,25.0,196,7,0,Soda,77,7,9.0,Mid-range product,Busiest day,Busiest days,Most orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
68,2210120,98,7,5,14,5.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
69,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
70,2846344,98,11,4,13,15.0,196,2,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
71,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
72,2383054,98,13,4,11,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
73,1993729,98,14,5,8,8.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,14,Regular customer,8.028000,Low spender,18.360001,Regular customer,Doris,Richmond,Female,Virginia,30,2/22/2018,2,married,58569,South,NaN
74,1403849,109,3,3,17,9.0,196,5,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,6,New customer,5.850725,Low spender,19.000000,Regular customer,Annie,Mendoza,Female,Connecticut,67,7/29/2018,1,married,41805,Northeast,NaN
75,520620,120,1,3,11,0.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,3,New customer,9.385715,Low spender,10.285714,Regular customer,Sarah,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low_activity
76,3273029,120,3,2,8,19.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,3,New customer,9.385715,Low spender,10.285714,Regular customer,Sarah,Rich,Female,Kentucky,54,3/2/2017,2,married,99219,South,low_activity
77,1861943,185,2,1,12,25.0,196,10,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,6,New customer,7.715000,Low spender,24.500000,Non-frequent customer,Charles,Crosby,Male,Oregon,51,6/21/2018,3,married,100039,West,NaN
78,2040988,195,1,1,14,0.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58,Loyal customer,7.149730,Low spender,5.432433,Frequent customer,Norma,Lin,Female,South Dakota,50,6/17/2017,2,married,70952,Midwest,NaN
79,1680569,195,8,1,9,4.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,58,Loyal customer,7.149730,Low spender,5.432433,Frequent customer,Norma,Lin,Female,South Dakota,50,6/17/2017,2,married,70952,Midwest,NaN

In [33]:
dfm['exclusion_flag'].value_counts(dropna = False)

NaN             30962785
low_activity     1440222
Name: exclusion_flag, dtype: int64

In [34]:
#Save dfm with 'exclusion_flag' column

dfm.to_pickle(os.path.join(path, "02 Data", "Prepped Data", "dfm_exclusion_flag"))

In [48]:
# create dfha - df containing rows with 'exclusion_flag' are null, therefore excluding 'low activity' customers

dfha = dfm[dfm['exclusion_flag'].isnull() == True]

In [51]:
dfha.to_pickle(os.path.join(path, "02 Data", "Prepped Data", "dfmWithOutLowActivityCustomers"))

In [53]:
dfha.shape

(30962785, 34)

In [54]:
dfm.shape

(32403007, 34)

In [55]:
dfha.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,user_price_mean,spending_flag,med_days_since,Order freq,First Name,Surname,Gender,State,Age,date_joined,dependants,fam_status,income,region,exclusion_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367796,Low spender,18.542374,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,NaN